.Rproj.user
.Rhistory
.RData
.Ruserdata
data/GSE218300_RAW.tar
data/GSM6738781_WD_4538/barcodes.tsv.gz
data/GSM6738781_WD_4538/features.tsv.gz
data/GSM6738781_WD_4538/matrix.mtx.gz
data/GSM6738782_WD_4539/barcodes.tsv.gz
data/GSM6738782_WD_4539/features.tsv.gz
data/GSM6738782_WD_4539/matrix.mtx.gz
data/GSM6738783_WD_4540/barcodes.tsv.gz
data/GSM6738783_WD_4540/features.tsv.gz
data/GSM6738783_WD_4540/matrix.mtx.gz
data/GSM6738784_WD_4541/barcodes.tsv.gz
data/GSM6738784_WD_4541/features.tsv.gz
data/GSM6738784_WD_4541/matrix.mtx.gz
data/GSM6738785_WD_6929/barcodes.tsv.gz
data/GSM6738785_WD_6929/features.tsv.gz
data/GSM6738785_WD_6929/matrix.mtx.gz
data/GSM6738786_WD_6930/barcodes.tsv.gz
data/GSM6738786_WD_6930/features.tsv.gz
data/GSM6738786_WD_6930/matrix.mtx.gz
data/GSM6738787_Chow_4534/barcodes.tsv.gz
data/GSM6738787_Chow_4534/features.tsv.gz
data/GSM6738787_Chow_4534/matrix.mtx.gz
data/GSM6738788_Chow_4535/barcodes.tsv.gz
data/GSM6738788_Chow_4535/features.tsv.gz
data/GSM6738788_Chow_4535/matrix.mtx.gz
data/GSM6738789_Chow_4536/barcodes.tsv.gz
data/GSM6738789_Chow_4536/features.tsv.gz
data/GSM6738789_Chow_4536/matrix.mtx.gz
data/GSM6738790_Chow_4537/barcodes.tsv.gz
data/GSM6738790_Chow_4537/features.tsv.gz
data/GSM6738790_Chow_4537/matrix.mtx.gz
data/GSM6738791_Chow_6927/barcodes.tsv.gz
data/GSM6738791_Chow_6927/features.tsv.gz
data/GSM6738791_Chow_6927/matrix.mtx.gz
data/GSM6738792_Chow_6928/barcodes.tsv.gz
data/GSM6738792_Chow_6928/features.tsv.gz
data/GSM6738792_Chow_6928/matrix.mtx.gz
GSM6738773_hsc1/GSM6738773_hsc1_100bp.peaks.clean.narrowPeak.gz
GSM6738774_hsc2/GSM6738774_hsc2_100bp.peaks.clean.narrowPeak.gz
SeuratObjects/anchors.rds
SeuratObjects/combined_seurat_2024-02-24 09:35:12.235114.RData
SeuratObjects/combined_seurat_2024-02-24.RData
SeuratObjects/combined_seurat_af_raw_merge_fillter_2024-03-01.RData
SeuratObjects/combined_seurat_anotated_mouse_blu_immgen_hpa_v4_tsne_joined_2024-02-24.RData
SeuratObjects/combined_seurat_anotated_mouse_blu_immgen_hpa_v5_fine_tsne_joined_2024-02-24.RData
SeuratObjects/combined_seurat_anotated_mouse_blu_immgen_v3_tsne_joined_2024-02-24.RData
SeuratObjects/combined_seurat_anotated_mouse_blu_v2_tsne_joined_2024-02-24.RData
SeuratObjects/combined_seurat_anotated_mouse_v1_tsne_joined_2024-02-24.RData
SeuratObjects/combined_seurat_combined_umap_N4_cca-rcpa2024-03-01.png
SeuratObjects/combined_seurat_combined_umap_N4_harmony_cca_rcpa-mnn2024-03-01.RData
SeuratObjects/combined_seurat_combined_umap_N4_harmony-mnn2024-03-01.png
SeuratObjects/combined_seurat_combined_umap_N4_harmony2024-03-01.RData
SeuratObjects/combined_seurat_combined_umap_N4--rpca_harmony_cca_rcpa-mnn-SCT-N1-rpca2024-03-01.RData
SeuratObjects/combined_seurat_combined_umap_N4--rpca_harmony_cca_rcpa-mnn-SCT-N2-harmony2024-03-01.RData
SeuratObjects/combined_seurat_combined_umap_N4--rpca_harmony_cca_rcpa-mnn-SCT-N3-cca-mnn-umap2024-03-01.RData
SeuratObjects/combined_seurat_combined_umap_N4--rpca_harmony_cca_rcpa-mnn-SCT-N3-cca2024-03-01.RData
SeuratObjects/combined_seurat_combined_umap_N4--SCT-N3-cca-N2-louvain_slm2024-03-02.RData
SeuratObjects/combined_seurat_combined_umap_N4--SCT-N3-cca-N3-louvain_slm_muti_2024-03-02.cloupe
SeuratObjects/combined_seurat_combined_umap_N4--SCT-N3-cca-N3-louvain_slm_muti.cloupe
SeuratObjects/combined_seurat_combined_umap_N4--SCT-N3-cca-N3-louvain_slm_muti2024-03-02.RData
SeuratObjects/combined_seurat_combined_umap_N4-N3-anatoedd-cluster-sct-harmony-ladden-diff-resolution--all_sorted-v5-2024-03-03.cloupe
SeuratObjects/combined_seurat_combined_umap_N4-N3-anatoedd-cluster-sct-harmony-ladden-diff-resolution--all_sorted-v6-2024-03-03.cloupe
SeuratObjects/combined_seurat_combined_umap_N4-N3-anatoedd-cluster-sct-harmony-ladden-diff-resolution-0-8_2_v2-2024-03-03.RData
SeuratObjects/combined_seurat_combined_umap_N4-N3-anatoedd-cluster-sct-harmony-ladden-diff-resolution-0-8_2_v3-2024-03-03.RData
SeuratObjects/combined_seurat_combined_umap_N4-N3-anatoedd-cluster-sct-harmony-ladden-diff-resolution-0-8v1-22024-03-02.RData
SeuratObjects/combined_seurat_combined_umap_N4-N3-anatoedd-cluster-sct-harmony-ladden-diff-resolution-0-8v12024-03-02.RData
SeuratObjects/combined_seurat_combined_umap_N4-N3-anatoedd-cluster-sct-harmony-ladden-diff-resolution-all_0_1-2-after-leiden-v2-2024-03-03.RData
SeuratObjects/combined_seurat_combined_umap_N4-N3-anatoedd-cluster-sct-harmony-ladden-diff-resolution-all_0_1-2-after-leiden-v22024-03-03.cloupe
SeuratObjects/combined_seurat_combined_umap_N4-N3-anatoedd-cluster-sct-harmony-ladden-diff-resolution-all_0_1-2-before-leiden-v1-2024-03-03.RData
SeuratObjects/combined_seurat_combined_umap_N4-N3-anatoedd-cluster-sct-harmony-ladden-diff-resolution-all_0_1-2-before-leiden-v12024-03-03.cloupe
SeuratObjects/combined_seurat_combined_umap_N4-N3-anatoedd-cluster-sct-harmony-ladden-diff-resolution-all_sorted-v5-2024-03-03.RData
SeuratObjects/combined_seurat_combined_umap_N4-N3-anatoedd-cluster-sct-harmony-ladden-diff-resolution-all_sorted-v6-2024-03-03.RData
SeuratObjects/combined_seurat_combined_umap_N4-N3-anatoedd-cluster-sct-harmony-ladden-diff-resolution-all_v4-2024-03-03.RData
SeuratObjects/combined_seurat_combined_umap_N4-N3-anatoedd-cluster-sct-harmony-ladden-diff-resolution-v10-8_2_v2-2024-03-03.cloupe
SeuratObjects/combined_seurat_combined_umap_N4-N3-anatoedd-cluster-sct-harmony-ladden-diff-resolution-v10-8_2_v2-sorted2024-03-03.cloupe
SeuratObjects/combined_seurat_combined_umap_N4-N3-anatoedd-cluster-sct-harmony-ladden-diff-resolution-v10-8_2_v3-2024-03-03.cloupe
SeuratObjects/combined_seurat_combined_umap_N4-N3-anatoedd-cluster-sct-harmony-ladden-diff-resolution-v12024-03-02.cloupe
SeuratObjects/combined_seurat_combined_umap_N4-N3-anatoedd-cluster-sct-harmony-Louvain-diff-resolution-v22024-03-02.RData
SeuratObjects/combined_seurat_combined_umap_N4-N3-anatoedd-cluster-sct-harmony-Louvain-diff-resolution2024-03-02.RData
SeuratObjects/combined_seurat_combinedN2_2024-03-01.RData
SeuratObjects/combined_seurat_combinedN3_cca-rcca-harmony2024-03-01.RData
SeuratObjects/combined_seurat_combinedN4_mnn2024-03-01.RData
SeuratObjects/combined_seurat_combinedN5_scvi2024-03-01.RData
SeuratObjects/combined_seurat_tsne_2024-02-24.RData
SeuratObjects/combined_seurat_tsne_defalt_annotated_v4.cloupe
SeuratObjects/combined_seurat_tsne_defalt_annotated_v5_fine.cloupe
SeuratObjects/combined_seurat_tsne_defalt.cloupe
SeuratObjects/combined_seurat_tsne_joined_2024-02-24.RData
SeuratObjects/combined_seurat_umap_N4_SCT_N3_annotated_2024-03-02.cloupe
SeuratObjects/combined_seurat_umap_N4_SCT_N3_annotated_2024-03-02.RData
SeuratObjects/combined_seurat_umap_N4_SCT_N3_annotated_Lovain-res_2024-03-02.cloupe
SeuratObjects/converted.cloupe
SeuratObjects/integrated_data_afaz_SCT_IntegrateLayers_v2.Rdata
SeuratObjects/integrated_data_afaz_SCT_v1.Rdata
SeuratObjects/integrated_data_afaz_SCT_v1.rds
SeuratObjects/integrated_data_afaz_v1.rds
SeuratObjects/integrated_data.rds
SeuratObjects/loupe_file_tsne_umap.cloupe
SeuratObjects/sce_combined_seurat_2024-02-24.RData
SeuratObjects/Seurat_GSM6738781_WD_4538.RData
SeuratObjects/Seurat_GSM6738782_WD_4539.RData
SeuratObjects/Seurat_GSM6738783_WD_4540.RData
SeuratObjects/Seurat_GSM6738784_WD_4541.RData
SeuratObjects/Seurat_GSM6738785_WD_6929.RData
SeuratObjects/Seurat_GSM6738786_WD_6930.RData
SeuratObjects/Seurat_GSM6738787_Chow_4534.RData
SeuratObjects/Seurat_GSM6738788_Chow_4535.RData
SeuratObjects/Seurat_GSM6738789_Chow_4536.RData
SeuratObjects/Seurat_GSM6738790_Chow_4537.RData
SeuratObjects/Seurat_GSM6738791_Chow_6927.RData
SeuratObjects/Seurat_GSM6738792_Chow_6928.RData
SeuratObjects/seurat_list.RData
plotobject/cluster_leiden2024-03-03.RData
plotobject/cluster_muti_louvain_res2024-03-02.RData
plotobject/cluster_slm_louvain_muti_0_1-22024-03-03.RData
annotation/pred_objects.RData
annotation/ref_objects.RData
GSE218300_RAW.tar
Rdata_time/2023-12-10-12点13分.RData
Rdata_time/2024年2月19日17点48分.RData
Rdata_time/2024年2月21日11点50分教程.RData
Rdata_time/GSM6738781_WD_4538_analyzed.rds
python/data/pbmc3k_raw.h5ad
python/mdata_sub.h5mu
python/my_mudata.h5mu
python/my_results.h5ad
annotation/pred_objects.RData
annotation/ref_objects.RData
plot/2024-2-22-WD4538-stand(L）vs sctransform.pdf
plot/2024-2-24-featureplot-过滤.pdf
plot/2024-2-25tsne.pdf
plot/2024年2月24日tsne.pdf
plot/adgre1.html
plot/azimuth-feature-ccr7画基因.pdf
plot/combined_seurat_combined_umap_N4--rpca_harmony_cca_rcpa-mnn-SCT-N2-cca-harmony2024-03-01.png
plot/FeaturePlot.pdf
plot/immu-heatmap-2024年2月25日.pdf
plot/integrated_data_afaz_SCT_IntegrateLayers_v2_2024年2月23日.pdf
plot/integrated_data_umap_2024-2-23.pdf
plot/pred_hpa-heatmap-2024年2月25日.pdf
plot/pred_immgen_fine-heatmap-2024年2月25日.pdf
plot/pred_immgen-heatmap-2024年2月25日.pdf
plot/resulation_sct_harmony_2024-03-02.pdf
plot/Rplot.pdf
plot/Rplot01.pdf
plot/Rplot02.pdf
plot/Rplot03.pdf
plot/Rplot04.pdf
plot/Rplot05.pdf
plot/Rplot06.pdf
plot/Rplot07.pdf
plot/Rplot08.pdf
plot/Rplot09.pdf
plot/Rplot10.pdf
plot/Rplot11.pdf
plot/Rplot12.pdf
plot/Rplot13.pdf
plot/Rplot14.pdf
plot/Rplot15.pdf
plot/Rplot16.pdf
plot/Rplot17.pdf
plot/Rplot18.pdf
plot/Rplot19.pdf
plot/Rplot20.pdf
plot/Rplot21.pdf
plot/Rplot22.pdf
plot/Rplot23.pdf
plot/Rplot24.pdf
plot/Rplot25.pdf
plot/Rplot26.pdf
plot/Rplot27.pdf
plot/Rplot28.pdf
plot/Rplot29.pdf
plot/Rplot30.pdf
plot/SCT_snn_harmony_leiden_res.width_25_height16_2024-03-03.pdf
plot/SCT_snn_harmony_leiden_res.width_25_height20_2024-03-03.pdf
plot/SCT_snn_harmony_Louvain_res.width_25_height20_2024-03-03.pdf
plot/SCT_snn_harmony_muti_louvain_res.width_25_height20_2024-03-03.pdf
plot/SCT_snn_harmony_slm_res.width_25_height20_2024-03-03.pdf
plot/SCT_snn_Louvain_res_width_20_height15_2024-03-02.pdf
plot/SCT_snn_Louvain_res_width_20_height40_2024-03-02.pdf
plot/SCT_snn_Louvain_res_width_25_height16_2024-03-02.pdf
plot/SCT_snn_Louvain_res.width_25_height16_2024-03-02.pdf
plot/SCT_snn_muti_louvain_res.width_25_height16_2024-03-02.pdf
plot/SCT_snn_slm_res.width_25_height16_2024-03-02.pdf
plot/SCTtransform_umap_2024年2月23日.pdf
plot/SingleR.labels_Blueprint-heatmap-2024年2月25日.pdf
plot/SingleR.labels_HPA-umap-2024年2月25日.pdf
plot/SingleR.labels_ImmGen_fine-umap-2024年2月25日.pdf
plot/SingleR.labels_ImmGen-umap-2024年2月25日.pdf
plot/SingleR.labels_MouseRNA_umap_2024年2月25日.pdf
plot/umap_未注释细胞.pdf
plot/umap_merged_intergrated_2024-02-24.png
plot/umap_merged_intergrated_compair2024-02-24.png
plot/umap-withcluster-unnamed-2024年2月19日18点07分.pdf
plot/umap.pdf
plot/umap未注释细胞-注释来源.pdf
plot/unjoined_umap_sct_2024年2月23日.pdf
plot/violinplot_2024-02-24.png
plot/violinplot_2024-03-01.png
plot/violinplot.png2024-02-24.png
plot/WD_Chow_feature_plot_Lcn2_F480_CD206.pdf
tutorial/presto-master.zip
.ipynb_checkpoints/SCT_snn_Louvain_res_width_20_height15_2024-03-02-checkpoint.pdf
.ipynb_checkpoints/SCT_snn_Louvain_res.width_25_height16_2024-03-02-checkpoint.pdf
.ipynb_checkpoints/Untitled-checkpoint.ipynb
package/azimuth-示例.pdf
package/azimuth-master.zip
package/Seurat_5.0.2.tar.gz
Untitled.ipynb
top10.csv
heatmap.png
