absl-py==2.1.0
aiohttp==3.9.3
aiosignal==1.3.1
anndata==0.10.5.post1
annotated-types==0.6.0
annoy==1.17.3
anyio==4.3.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
array_api_compat==1.4.1
arrow==1.3.0
asciitree==0.3.3
asttokens==2.4.1
async-lru==2.0.4
attrs==23.2.0
Babel==2.14.0
beautifulsoup4==4.12.3
biopython==1.83
biothings-client==0.3.1
bleach==6.1.0
boto3==1.34.45
botocore==1.34.45
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
cell2location==0.1.3
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
cffi==1.16.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
chex==0.1.85
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.0.0
colorama==0.4.6
colorcet==3.0.1
comm==0.2.1
contextlib2==21.6.0
contourpy==1.2.0
cycler==0.12.1
Cython==3.0.8
dask==2024.2.0
dask-image==2023.8.1
datashader==0.16.0
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
diskcache==5.6.3
distributed==2024.2.0
docrep==0.3.2
etils==1.7.0
executing==2.0.1
fasteners==0.19
fastjsonschema==2.19.1
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1698714947081/work
fiona==1.9.5
flax==0.8.1
fonttools==4.49.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.2.0
future==0.18.3
gdown==5.1.0
genomepy==0.16.1
geopandas==0.14.3
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1666808665953/work
grpcio==1.60.1
h11==0.14.0
h5py==3.10.0
httpcore==1.0.3
httpx==0.26.0
huggingface-hub==0.20.3
hyperopt==0.2.7
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1701026962277/work
igraph==0.11.4
imageio==2.34.0
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1703269254275/work
importlib-resources==6.1.1
inflect==7.0.0
ipykernel==6.29.2
ipython==8.21.0
ipywidgets==8.1.2
isoduration==20.11.0
jax @ file:///home/conda/feedstock_root/build_artifacts/jax_1702590405637/work
jaxlib==0.4.23.dev20240214
jedi==0.19.1
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1704966972576/work
jmespath==1.0.1
joblib==1.3.2
json5==0.9.17
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab==4.1.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.3
jupyterlab_widgets==3.0.10
kiwisolver==1.4.5
lazy_loader==0.3
leidenalg==0.10.2
lightning==2.1.4
lightning-utilities==0.10.1
llvmlite==0.42.0
locket==1.0.0
loguru==0.7.2
loompy==3.0.7
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1706899926732/work
matplotlib==3.8.3
matplotlib-inline==0.1.6
matplotlib-scalebar==0.8.1
mdurl==0.1.2
mistune==3.0.2
mizani==0.11.0
ml-dtypes @ file:///home/conda/feedstock_root/build_artifacts/ml_dtypes_1704727649578/work
ml_collections==0.1.1
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
msgpack==1.0.7
mudata==0.2.3
multidict==6.0.5
multipledispatch==1.0.0
multiscale_spatial_image==1.0.0
muon==0.1.5
mygene==3.2.2
mysql-connector-python==8.3.0
natsort==8.4.0
nbclient==0.9.0
nbconvert==7.16.1
nbformat==5.9.2
nest-asyncio==1.6.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1698504735452/work
norns==0.1.6
nose==1.3.7
notebook==7.1.0
notebook_shim==0.2.4
numba==0.59.0
numcodecs==0.12.1
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1707225376651/work/dist/numpy-1.26.4-cp311-cp311-linux_x86_64.whl#sha256=d08e1c9e5833ae7780563812aa73e2497db1ee3bd5510d3becb8aa18aa2d0c7c
numpy-groupies==0.10.2
numpyro==0.13.2
ome-zarr==0.8.3
omnipath==1.0.8
opencv-python==4.9.0.80
opt-einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1696448916724/work
optax==0.1.9
orbax-checkpoint==0.5.3
overrides==7.7.0
packaging==23.2
pandas==2.2.0
pandocfilters==1.5.1
param==2.0.2
parso==0.8.3
partd==1.4.1
patsy==0.5.6
pexpect==4.9.0
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1675487189013/work
PIMS==0.6.1
platformdirs==4.2.0
plotnine==0.13.0
plottable==0.1.5
pooch==1.8.1
prometheus_client==0.20.0
prompt-toolkit==3.0.43
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.7
pyarrow==15.0.0
pycparser==2.21
pyct==0.5.0
pydantic==2.6.1
pydantic_core==2.16.2
pyfaidx==0.8.1.1
pygeos==0.14
Pygments==2.17.2
pymde==0.1.18
pynndescent==0.5.11
pyparsing==3.1.1
pyproj==3.6.1
pyro-api==0.1.2
pyro-ppl==1.9.0
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil==2.8.2
python-json-logger==2.0.7
pytorch-lightning==2.2.0.post0
pytz==2024.1
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1695373611984/work
pyzmq==25.1.2
qtconsole==5.5.1
QtPy==2.4.1
radian==0.6.12
ray==2.9.2
rchitect==0.4.6
referencing==0.33.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rpds-py==0.18.0
s3fs==0.4.2
s3transfer==0.10.0
scanpy==1.9.8
scib-metrics==0.5.0
scikit-image==0.22.0
scikit-learn==1.4.1.post1
scikit-misc==0.3.1
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1706041487672/work/dist/scipy-1.12.0-cp311-cp311-linux_x86_64.whl#sha256=c4f0d8ecd4373069a033d0ee818c2fe5959c8828937fa46deb00a478190f703a
scrublet==0.2.3
scvi-tools==1.1.1
seaborn==0.13.2
Send2Trash==1.8.2
session_info==1.0.0
shapely==2.0.3
six==1.16.0
slicerator==1.1.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
sparse==0.15.1
spatial_image==1.0.0
spatialdata==0.0.8
squidpy==1.4.1
stack-data==0.6.3
statsmodels==0.14.1
stdlib-list==0.10.0
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1684180540116/work
tblib==3.0.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorstore==0.1.53
terminado==0.18.0
texttable==1.7.0
threadpoolctl==3.3.0
tifffile==2024.2.12
tinycss2==1.2.1
toolz==0.12.1
torch==2.2.0
torchaudio==2.2.0
torchmetrics==1.3.1
torchvision==0.17.0
tornado==6.4
tqdm==4.66.2
traitlets==5.14.1
triton==2.2.0
types-python-dateutil==2.8.19.20240106
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1702176139754/work
tzdata==2024.1
umap-learn==0.5.5
uri-template==1.3.0
urllib3==2.0.7
validators==0.22.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
Werkzeug==3.0.1
widgetsnbextension==4.0.10
wrapt==1.16.0
xarray==2023.12.0
xarray-dataclasses==1.7.0
xarray-datatree==0.0.14
xarray-schema==0.0.3
xarray-spatial==0.3.5
yarl==1.9.4
zarr==2.17.0
zict==3.0.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
